<div class="full-page d-flex centered">
  <div class="container col-12 col-md-8 col-lg-4 card p-2">
    <div class="card-title d-flex centered">
      <h2>Olá, bem vindo!</h2>
    </div>
    <div class="card-body">
      <form
        [formGroup]="form"
        class="d-flex centered flex-column"
      >
        <div class="mb-2">
          <label
            for="login"
            class="form-label"
            >Login</label
          >
          <input
            type="text"
            id="login"
            formControlName="login"
            class="form-control"
          />
        </div>

        <div class="mb-2">
          <label
            for="pass"
            class="form-label"
            >Senha</label
          >
          <input
            type="password"
            id="pass"
            formControlName="pass"
            class="form-control"
          />
        </div>

        <button
          [disabled]="form.invalid"
          (click)="login()"
          class="btn btn-primary mb-2"
        >
          Entrar
        </button>

        <span>
          É novo por aqui?
          <a routerLink="/auth/signup"> Então cadastre-se </a>
        </span>
      </form>
    </div>
  </div>
</div>
